/* SPDX-License-Identifier: MIT */

h2, table, .table-responsive {
  clear: both;
}

fieldset {
  float: left;
}

.container-button label,
.container-button button[type="button"] {
  margin-right: .25rem;
}

.container-card-line-up {
  min-height: 120px;
  overflow: auto;
}

.container-card {
  float: left;
  position: relative;
}

.container-guardian .container-card {
  background-color: gray;
}

.container-guardian .container-card:hover {
  background-color: inherit;
}

.card-medium {
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.card-small {
  margin-right: .25rem;
  margin-bottom: .25rem;
}

.container-num-copies {
  background-color: white;
  border: 1px solid black;
  padding-left: .25rem;
  padding-right: .25rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.btn-pop {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.container-card:hover .btn-pop {
  display: initial;
}

.btn-push {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.container-card:hover .btn-push {
  display: initial;
}

.btn-move {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
}

.container-card:hover .btn-move {
  display: initial;
}

.btn-zoom {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  margin: auto;
}

.container-card:hover .btn-zoom {
  display: initial;
}

.card-medium .img-card {
  width: 80px;
  height: 112px;
}

.card-small .img-card {
  width: 40px;
  height: 56px;
}

.container-guardian .container-card .img-card {
  visibility: hidden;
}

.container-guardian .container-card:hover .img-card {
  visibility: visible;
}

/* タブリンクの横幅を狭くして画面幅に収めることを試みる */
.nav-tabs .nav-link {
  padding: var(--bs-nav-link-padding-y) calc(.5 * var(--bs-nav-link-padding-x))
}

/* 画面下端に空間を作る */
.tab-pane {
  margin-bottom: 6rem;
}

/* アラートへのアイコン付け */
.alert-warning::before {
  display: inline-block;
  vertical-align: -.125em;
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" color="%23664d03" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16"><path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/><path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/></svg>');
  stroke: currentColor;
  width: 1em;
  height: 1em;
  margin-right: .25rem;
}

.alert-info::before {
  display: inline-block;
  vertical-align: -.125em;
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" color="%23055160" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/></svg>');
  width: 1em;
  height: 1em;
  margin-right: .25rem;
}

.alert-success::before {
  display: inline-block;
  vertical-align: -.125em;
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" color="%230a3622" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/></svg>');
  width: 1em;
  height: 1em;
  margin-right: .25rem;
}

/* カードリストの背景色付け */
.table > :not(caption) > * > .bg-ijinden-red { --bs-table-bg-state: #f1aeb5; } /* red-200 */
.table-hover > tbody > tr:hover > .bg-ijinden-red { --bs-table-bg-state: #e35d6a; } /* red-400 */
.table > :not(caption) > * > .bg-ijinden-blue { --bs-table-bg-state: #9ec5fe; } /* blue-200 */
.table-hover > tbody > tr:hover > .bg-ijinden-blue { --bs-table-bg-state: #3d8bfd; } /* blue-400 */
.table > :not(caption) > * > .bg-ijinden-green { --bs-table-bg-state: #a3cfbb; } /* green-200 */
.table-hover > tbody > tr:hover > .bg-ijinden-green { --bs-table-bg-state: #479f76; } /* green-400 */
.table > :not(caption) > * > .bg-ijinden-yellow { --bs-table-bg-state: #ffe69c; } /* yellow-200 */
.table-hover > tbody > tr:hover > .bg-ijinden-yellow { --bs-table-bg-state: #ffcd39; } /* yellow-400 */
.table > :not(caption) > * > .bg-ijinden-purple { --bs-table-bg-state: #c5b3e6; } /* purple-200 */
.table-hover > tbody > tr:hover > .bg-ijinden-purple { --bs-table-bg-state: #8c68cd; } /* purple-400 */
.table > :not(caption) > * > .bg-ijinden-multicolor { --bs-table-bg-state: #fecba1; } /* orange-200 */
.table-hover > tbody > tr:hover > .bg-ijinden-multicolor { --bs-table-bg-state: #fd9843; } /* orange-400 */
.table > :not(caption) > * > .bg-ijinden-red-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #f1aeb5 50%, #ffe69c 50%);
}
.table-hover > tbody > tr:hover > .bg-ijinden-red-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #e35d6a 50%, #ffcd39 50%);
}
.table > :not(caption) > * > .bg-ijinden-blue-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #9ec5fe 50%, #ffe69c 50%);
}
.table-hover > tbody > tr:hover > .bg-ijinden-blue-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #3d8bfd 50%, #ffcd39 50%);
}
.table > :not(caption) > * > .bg-ijinden-green-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #a3cfbb 50%, #ffe69c 50%);
}
.table-hover > tbody > tr:hover > .bg-ijinden-green-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #479f76 50%, #ffcd39 50%);
}
