/* SPDX-License-Identifier: MIT */

h2, table, .table-responsive {
  clear: both;
}

fieldset {
  float: left;
}

.container-button label,
.container-button button[type="button"] {
  margin-right: .25rem;
}

.container-card-line-up {
  min-height: 120px;
  overflow: auto;
}

.container-card {
  float: left;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.container-deck .container-card {
  position: relative;
}

.container-guardian .container-card {
  background-color: gray;
}

.container-guardian .container-card:hover {
  background-color: inherit;
}

.container-num-copies {
  background-color: white;
  border: 1px solid black;
  padding-left: .25rem;
  padding-right: .25rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.btn-pop {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.container-card:hover .btn-pop {
  display: initial;
}

.btn-push {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.container-card:hover .btn-push {
  display: initial;
}

.btn-move {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
}

.container-card:hover .btn-move {
  display: initial;
}

.btn-zoom {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  margin: auto;
}

.container-card:hover .btn-zoom {
  display: initial;
}

.img-card {
  width: 80px;
  height: 112px;
}

.container-guardian .container-card .img-card {
  visibility: hidden;
}

.container-guardian .container-card:hover .img-card {
  visibility: visible;
}

/* タブリンクの横幅を狭くして画面幅に収めることを試みる */
.nav-tabs .nav-link {
  padding: var(--bs-nav-link-padding-y) calc(.5 * var(--bs-nav-link-padding-x))
}

/* カードリストの背景色付け */
.table > :not(caption) > * > .bg-ijinden-red { --bs-table-bg-state: #f1aeb5; } /* red-200 */
.table-hover > tbody > tr:hover > .bg-ijinden-red { --bs-table-bg-state: #e35d6a; } /* red-400 */
.table > :not(caption) > * > .bg-ijinden-blue { --bs-table-bg-state: #9ec5fe; } /* blue-200 */
.table-hover > tbody > tr:hover > .bg-ijinden-blue { --bs-table-bg-state: #3d8bfd; } /* blue-400 */
.table > :not(caption) > * > .bg-ijinden-green { --bs-table-bg-state: #a3cfbb; } /* green-200 */
.table-hover > tbody > tr:hover > .bg-ijinden-green { --bs-table-bg-state: #479f76; } /* green-400 */
.table > :not(caption) > * > .bg-ijinden-yellow { --bs-table-bg-state: #ffe69c; } /* yellow-200 */
.table-hover > tbody > tr:hover > .bg-ijinden-yellow { --bs-table-bg-state: #ffcd39; } /* yellow-400 */
.table > :not(caption) > * > .bg-ijinden-purple { --bs-table-bg-state: #c5b3e6; } /* purple-200 */
.table-hover > tbody > tr:hover > .bg-ijinden-purple { --bs-table-bg-state: #8c68cd; } /* purple-400 */
.table > :not(caption) > * > .bg-ijinden-multicolor { --bs-table-bg-state: #fecba1; } /* orange-200 */
.table-hover > tbody > tr:hover > .bg-ijinden-multicolor { --bs-table-bg-state: #fd9843; } /* orange-400 */
.table > :not(caption) > * > .bg-ijinden-red-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #f1aeb5 50%, #ffe69c 50%);
}
.table-hover > tbody > tr:hover > .bg-ijinden-red-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #e35d6a 50%, #ffcd39 50%);
}
.table > :not(caption) > * > .bg-ijinden-blue-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #9ec5fe 50%, #ffe69c 50%);
}
.table-hover > tbody > tr:hover > .bg-ijinden-blue-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #3d8bfd 50%, #ffcd39 50%);
}
.table > :not(caption) > * > .bg-ijinden-green-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #a3cfbb 50%, #ffe69c 50%);
}
.table-hover > tbody > tr:hover > .bg-ijinden-green-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #479f76 50%, #ffcd39 50%);
}
