.btn-toggled {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80px;
  height: 112px;
  border-radius: 0;
}

.btn-toggled, .btn-toggled:hover, :not(.btn-check) + .btn-toggled:active {
  border-color: transparent;
}

.btn-toggled-opaque, .btn-toggled-opaque:hover, :not(.btn-check) + .btn-toggled-opaque:active {
  background-color: gray;
}

.btn-toggled-transparent, .btn-toggled-transparent:hover, :not(.btn-check) + .btn-toggled-transparent:active {
  opacity: 0; /* 滑らかな色変化のために必要 */
  background-color: transparent;
}

.btn-toggled-red, .btn-toggled-red:hover, :not(.btn-check) + .btn-toggled-red:active {
  opacity: 0.7;
  background-color: #dc3545;
}

.btn-toggled-blue, .btn-toggled-blue:hover, :not(.btn-check) + .btn-toggled-blue:active {
  opacity: 0.7;
  background-color: #0d6efd;
}

.btn-toggled-yellow, .btn-toggled-yellow:hover, :not(.btn-check) + .btn-toggled-yellow:active {
  opacity: 0.7;
  background-color: #ffc107;
}

.btn-toggled-white, .btn-toggled-white:hover, :not(.btn-check) + .btn-toggled-white:active {
  opacity: 0.7;
  background-color: white;
}

.btn-toggled-black, .btn-toggled-black:hover, :not(.btn-check) + .btn-toggled-black:active {
  opacity: 0.7;
  background-color: black;
}
