/* SPDX-License-Identifier: MIT */

/*
 * カードリストの背景色付け
 * See https://cudo.jp/?page_id=1565
 */
.table > :not(caption) > * > .bg-ijinden-red { --bs-table-bg-state: #ffcabf; }
.table-hover > tbody > tr:hover > .bg-ijinden-red { --bs-table-bg-state: #ff4b00; }
.table > :not(caption) > * > .bg-ijinden-blue { --bs-table-bg-state: #bfe4ff; }
.table-hover > tbody > tr:hover > .bg-ijinden-blue { --bs-table-bg-state: #005aff; }
.table > :not(caption) > * > .bg-ijinden-green { --bs-table-bg-state: #77d9a8; }
.table-hover > tbody > tr:hover > .bg-ijinden-green { --bs-table-bg-state: #03af7a; }
.table > :not(caption) > * > .bg-ijinden-yellow { --bs-table-bg-state: #ffff80; }
.table-hover > tbody > tr:hover > .bg-ijinden-yellow { --bs-table-bg-state: #fff100; }
.table > :not(caption) > * > .bg-ijinden-purple { --bs-table-bg-state: #c9ace6; }
.table-hover > tbody > tr:hover > .bg-ijinden-purple { --bs-table-bg-state: #990099; }
.table > :not(caption) > * > .bg-ijinden-colorless { --bs-table-bg-state: #c8c8cb; }
.table-hover > tbody > tr:hover > .bg-ijinden-colorless { --bs-table-bg-state: #84919e; }
/* 多色 */
.table > :not(caption) > * > .bg-ijinden-red-green {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #ffcabf 50%, #77d9a8 50%);
}
.table-hover > tbody > tr:hover > .bg-ijinden-red-green {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #ff4b00 50%, #03af7a 50%);
}
.table > :not(caption) > * > .bg-ijinden-blue-green {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #bfe4ff 50%, #77d9a8 50%);
}
.table-hover > tbody > tr:hover > .bg-ijinden-blue-green {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #005aff  50%, #03af7a 50%);
}
.table > :not(caption) > * > .bg-ijinden-red-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #ffcabf 50%, #ffff80 50%);
}
.table-hover > tbody > tr:hover > .bg-ijinden-red-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #ff4b00 50%, #fff100 50%);
}
.table > :not(caption) > * > .bg-ijinden-blue-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #bfe4ff 50%, #ffff80 50%);
}
.table-hover > tbody > tr:hover > .bg-ijinden-blue-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #005aff 50%, #fff100 50%);
}
.table > :not(caption) > * > .bg-ijinden-green-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #77d9a8 50%, #ffff80 50%);
}
.table-hover > tbody > tr:hover > .bg-ijinden-green-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #03af7a 50%, #fff100 50%);
}
.table > :not(caption) > * > .bg-ijinden-blue-purple {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #bfe4ff 50%, #c9ace6 50%);
}
.table-hover > tbody > tr:hover > .bg-ijinden-blue-purple {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #005aff 50%, #990099 50%);
}
.table > :not(caption) > * > .bg-ijinden-yellow-purple {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #ffff80 50%, #c9ace6 50%);
}
.table-hover > tbody > tr:hover > .bg-ijinden-yellow-purple {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #fff100 50%, #990099 50%);
}
/* 魔導 */
.table > :not(caption) > * > .bg-chromagic-red-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #ffcabf 90%, #ffff80 90%);
}
.table-hover > tbody > tr:hover > .bg-chromagic-red-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #ff4b00 90%, #fff100 90%);
}
.table > :not(caption) > * > .bg-chromagic-yellow-red {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #ffff80 90%, #ffcabf 90%);
}
.table-hover > tbody > tr:hover > .bg-chromagic-yellow-red {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #fff100 90%, #ff4b00 90%);
}
.table > :not(caption) > * > .bg-chromagic-yellow-blue {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #ffff80 90%, #bfe4ff 90%);
}
.table-hover > tbody > tr:hover > .bg-chromagic-yellow-blue {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #fff100 90%, #005aff 90%);
}
.table > :not(caption) > * > .bg-chromagic-yellow-green {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #ffff80 90%, #77d9a8 90%);
}
.table-hover > tbody > tr:hover > .bg-chromagic-yellow-green {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #fff100 90%, #03af7a 90%);
}
.table > :not(caption) > * > .bg-chromagic-colorless-red {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #c8c8cb 90%, #ffcabf 90%);
}
.table-hover > tbody > tr:hover > .bg-chromagic-colorless-red {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #84919e 90%, #ff4b00 90%);
}
.table > :not(caption) > * > .bg-chromagic-colorless-blue {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #c8c8cb 90%, #bfe4ff 90%);
}
.table-hover > tbody > tr:hover > .bg-chromagic-colorless-blue {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #84919e 90%, #005aff 90%);
}
.table > :not(caption) > * > .bg-chromagic-colorless-green {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #c8c8cb 90%, #77d9a8 90%);
}
.table-hover > tbody > tr:hover > .bg-chromagic-colorless-green {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #84919e 90%, #03af7a 90%);
}
.table > :not(caption) > * > .bg-chromagic-colorless-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #c8c8cb 90%, #ffff80 90%);
}
.table-hover > tbody > tr:hover > .bg-chromagic-colorless-yellow {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #84919e 90%, #fff100 90%);
}
.table > :not(caption) > * > .bg-chromagic-colorless-purple {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #c8c8cb 90%, #c9ace6 90%);
}
.table-hover > tbody > tr:hover > .bg-chromagic-colorless-purple {
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  background: linear-gradient(to bottom right, #84919e 90%, #990099 90%);
}
